@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.Greetings {
    overflow: hidden;
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    padding-top: 3rem;

    font-family: "Poppins";
    line-height: 4.8rem;
}

.Greetings__first-p,
.Greetings__second-p {
    padding: 0;
    margin-bottom: 50px;
    line-height: 4rem;
}

.p-container {
    display: flex;
    height: 100dvh;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    font-size: 4rem;
    font-weight: 800;
}

.p-container span {
    color: #79CBCA;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    font-size: 0.8rem;
}

.Greetings__contact-button button {
    display: block !important;
    padding: 25px 15px;
    border-radius: 50px;
    outline: none;
    border: none;
    margin-bottom: 40px;
    margin-right: 10px;

    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;

    font-size: 1.5rem;
    color: #fefefe;
}

    .Greetings__download-cv {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        outline: none;
        border: 2px solid #1f1f1f;
        margin-bottom: 40px;
    }

    .Greetings__download-cv a {
        display: block !important;
        padding: 5px 15px;
        color: #1f1f1f;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .Greetings__download-cv:hover {
        transition: 0.5s ease;
        background-color: #1f1f1f;
    }

    .Greetings__download-cv a:hover {
        transition: 0.5s ease;
        color: #efefef;
    }

.Greetings__contact-button button:hover {
    transition: 0.5s ease;
    scale: 1.1;
    background-position: right center;
    color: #fff;
}

@media (min-width: 769px) {
    .p-container {
        padding: 100px;
    }
}

@media (max-width: 768px) {
    .p-container {
        text-align: center;
    }
}

@media (max-width: 375px) {
    .p-container {
        font-size: 3rem;
        text-align: center;
    }

    .Greetings__download-cv a {
        font-size: 0.8rem;
    }

    .Greetings__contact-button button {
        font-size: 1rem;
    }
}